!~/kubeconfigs/*
*
!.*
!.*/**
.*/**/
projects/
.kube/**/**
.gvm/
.local/
.config/
.m2/
.npm/
.node-stats/
.jupyter/
.java-caller/
.docker/**
.groovy/**
.ansible/**
.cluster-api/**
.bash_history
.ssh/config
.ssh-manager/*
.terraform.d
.ssh/*
!.ssh/config
!scripts/
!scripts/**
corkscrew
.sonobuoy
.sts4
!*.sh
!~/kubeconfigs/*
.viminfo
.wget-hsts
.config/QtProject.conf
.bash_history
.bash_logout
.lesshst
.Xauthority
.fontconfig/
.gnupg/
.iptables/
.nvm/
.netrc
.subversion/
.tilt-dev/
.vcluster/
dev-tmux.sh
.ansible-console_history
